body, h1, h2, figure, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: inherit;
}

body {
  background: #E7E7E8;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

div {
  position: relative;
  background: white;
  width: 80%;
  min-width: 460px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
}


h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  float: left;
  background: white;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.start {
  background: green;
  color: white;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  border-radius: 15px;
}

.pause {
  display: none;
  background: green;
  color: white;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  border-radius: 15px;
}

.game-over {
  display: none;
  background: red;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  border-radius: 15px;
}

.header {
}

.game-info {
  background: white;
  font-size: 30px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.current-score {
  font-weight: bold;
  float: left;
}

.high-score {
  font-weight: bold;
  float: right;
}

.instructions {
  font-size: 16px;
  font-weight: bold;
}

.shortcut {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.snake-game {
  display: inline-block;
  border: 10px solid black;
  min-width: 440px;
}


.apple {
  background: red;
}

.snake {
  background: green;
}

.red-score {
  color: red;
}
.green-score {
  color: #33CC33;
}

.small {
  font-size: 14px;
}

.play-again {
  font-size: 20px;
}
